<div class="col-lg-3 col-md-3 col-sm-6 side-bar pr0">
    <div class="bar-product-list">
        <h2 class="side-bar-title">Danh mục sản phẩm</h2>
        <ul class="product-list-content">
            <li>
                <a>Bộ chuyển đổi</a>
                <ul>
                    <li><a href="#">Bộ chuyển đổi 01</a></li>
                    <li><a href="#">Bộ chuyển đổi 02</a></li>
                    <li><a href="#">Bộ chuyển đổi 03</a></li>
                    <li><a href="#">Bộ chuyển đổi 04</a></li>
                </ul>
            </li>
            <li>
                <a>Oscilloscope</a>
                <ul>
                    <li><a href="#">Bộ chuyển đổi 01</a></li>
                    <li><a href="#">Bộ chuyển đổi 02</a></li>
                    <li><a href="#">Bộ chuyển đổi 03</a></li>
                    <li><a href="#">Bộ chuyển đổi 04</a></li>
                </ul>
            </li>
            <li><a href="#">Thiết bị đo lường điện</a></li>
            <li><a href="#">Thiết bị đo người</a></li>
            <li><a href="#">Máy hàn LK điện tử</a></li>
            <li><a href="#">Thiết bị đo CN</a></li>
            <li><a href="#">Tool cơ khí</a></li>
            <li><a href="#">Máy khoan - máy cắt</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="support-online mt20">
        <h2 class="side-bar-title">Hỗ trợ trực tuyến</h2>
        <ul>
            <li>
                <img src="../../../assets/images/frontend/icon_s01.png">
                <h4>Mr Giang</h4>
                <p>
                    ĐT: 0966.538.368 <br>
                    Email: sale@snano.vn
                </p>
            </li>
            <li>
                <img src="../../../assets/images/frontend/icon_s02.png">
                <h4>Mr Giang</h4>
                <p>
                    ĐT: 0966.538.368 <br>
                    Email: sale@snano.vn
                </p>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="qaa mt20">
        <h2 class="side-bar-title">Hỏi đáp</h2>
        <ul>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla vestibulum turpis </a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla vestibulum turpis </a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla vestibulum turpis </a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla vestibulum turpis </a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla vestibulum turpis.In at nulla vestibulum turpis </a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>