<div class="col-lg-3 col-md-3 col-sm-6 side-bar pr0" ng-init="init()">
    <div class="bar-product-list">
        <h2 class="side-bar-title">Danh mục sản phẩm</h2>
        <ul class="product-list-content">
            <li ng-repeat="p in menus">
                <a href="#/danh-muc-san-pham/{{p.slug}}">{{p.name}}</a>
                <ul ng-if="p.subMenus.length > 0">
                    <li ng-repeat="c in p.subMenus">
                        <a href="#/danh-muc-san-pham/{{p.slug}}/{{c.slug}}">{{c.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="support-online mt20">
        <h2 class="side-bar-title">Hỗ trợ trực tuyến</h2>
        <ul>
            <li ng-repeat="support in supports">
                <a href="skype:{{support.skype}}?chat" title="{{support.name}}">
                    <img src="../../../assets/images/frontend/skype-non-text.png">
                </a>
                <h4>{{support.name}}</h4>
                <p>ĐT: {{support.contact_phone}} <br>Email: {{support.contact_email}}</p>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="qaa mt20">
        <h2 class="side-bar-title">Hỏi đáp</h2>
        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
            <ul>
                <li ng-repeat="faq in faqs"><a href="#/faq/{{faq.id}}">{{faq.question}}</a></li>
            </ul>
        </marquee>
    </div>
    <div class="clearfix"></div>
</div>