<div class="col-lg-3 col-md-3 col-sm-6 side-bar pr0" ng-init="init()">
    <div class="bar-product-list">
        <h2 class="side-bar-title">Danh mục sản phẩm</h2>
        <ul class="product-list-content">
            <li ng-repeat="cat in product_categories">
                <a ng-if="cat.subCategories.length > 0" ng-class="{active: isActiveCategory(cat.category_url)}">{{cat.category_title}}</a>
                <a ng-if="cat.subCategories.length == 0" ui-sref="product-list-category({category_url: cat.category_url})">{{cat.category_title}}</a>
                <ul ng-if="cat.subCategories.length > 0" ng-style="isActiveSubCategory(cat.category_url)" id="{{cat.category_url}}">
                    <li ng-repeat="subcat in cat.subCategories">
                        <a ui-sref="product-list-sub-category({category_url: cat.category_url, sub_category_url: subcat.category_url})">{{subcat.category_title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="support-online mt20">
        <h2 class="side-bar-title">Hỗ trợ trực tuyến</h2>
        <ul>
            <li ng-repeat="support in supports">
                <a ng-href="skype:{{support.skype}}?chat" title="{{support.name}}">
                    <img src="../../../assets/images/frontend/skype-non-text.png">
                </a>
                <h4>{{support.name}}</h4>
                <p>ĐT: {{support.contact_phone | tel}} <br>Email: {{support.contact_email}}</p>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="qaa mt20">
        <h2 class="side-bar-title">Hỏi đáp</h2>
        <div class="marquee">
            <ul style="display: none;">
                <li ng-repeat="faq in faqs"><a href="#/faq/{{faq.id}}">{{faq.question}}</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>