@import "../../scss/variables";
@import "../../scss/mixins";

.side-bar-title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px 10px 50px;
  margin-top: 0;
  text-align: left;
  .support-online &, .bar-product-list & {
    @include background-color(#19a1b5);
  }
  .qaa & {
    @include background-color(#323232);
  }
  @each $class-name, $icon in $side-bar-icons {
    .#{$class-name} & {
      @include background-img($icon, 15px, center);
    }
  }
}

.bar-product-list {
  > ul > li > a {
    background: url($path-icon + "icon_02.png") no-repeat left 10px;
    border-bottom: 1px dashed #19a1b5;
    display: block;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
  }
  ul ul li a {
    padding: 5px 5px 5px 20px;
    display: block;
    border-bottom: 1px dashed #19a1b5;
  }
}

.support-online {
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    font-size: 13px;
    line-height: 14px;
  }
  li:nth-child(1) {
    margin-bottom: 20px;
  }
}

.qaa {
  li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

  }
  ul {
    //max-height: 325px;
    overflow-y: auto;
  }
}

.product-list-content li ul {
  display: none;
}