<div>
    <div class="wrap-product">
        <span ng-if="product.discount_rate > 0" class="safe">-{{product.discount_rate * 100 + '%'}}</span>
        <a ui-sref="product-detail({product_url: product.product_url})"><img ng-src="{{product.product_image}}"></a>
    </div>
    <p><a ui-sref="product-detail({product_url: product.product_url})">{{product.product_title}}</a></p>
    <div class="price-product">
        <span ng-if="product.discount_rate > 0">{{product.product_price | price}}</span>
        <p class="f-bebas">{{product.product_price_discount | price}}</p>
        <a class="btn-blue btn-buy">Mua hàng</a>
    </div>
</div>