<section class="topics">
    <div class="container">
        <ul class="row">
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <img src="../../../assets/images/frontend/common/icon_big03.png">
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold">Dự án</h3>
                <p class="text-center">
                    <a href="#">Giải pháp (phần cứng và phần mềm) đã triển khai</a>
                    <a href="#">Các giải pháp đang nghiên cứu</a>
                    <a href="#">Bản mô tả chi tiết dự án</a>
                </p>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <img src="../../../assets/images/frontend/common/icon_big01.png">
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold">Đào tạo - Chuyển giao công nghệ</h3>
                <p class="text-center">
                    <a href="#">Đào tạo lập trình điều khiển tự động, lập trình phần cứng</a>
                    <a href="#">Chuyển giao công nghệ</a>
                </p>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <img src="../../../assets/images/frontend/common/icon_big02.png">
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold">Dịch vụ kỹ thuật</h3>
                <p class="text-center">
                    <a href="#">Dịch vụ hàn mạch điện tử</a>
                    <a href="#">Dịch vụ lắp ráp tụ điện công nghiệp</a>
                    <a href="#">Dịch vụ sửa chữa, bảo dưỡng các thiết bị công nghiệp</a>
                    <a href="#">Dịch vụ thiết, bảo trì Website</a>
                </p>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>