<section class="topics">
    <div class="container">
        <ul class="row">
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <a ng-href="#/du-an"><img src="../../../assets/images/frontend/common/icon_big03.png"></a>
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold"><a ng-href="#/du-an">Dự án</a></h3>
                <p class="text-center">
                    Giải pháp (phần cứng và phần mềm) đã triển khai <br>
                    Các giải pháp đang nghiên cứu<br/>
                    Bản mô tả chi tiết dự án
                </p>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <a ng-href="#/dao-tao-chuyen-giao-cong-nghe"><img src="../../../assets/images/frontend/common/icon_big01.png"></a>
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold"><a ng-href="#/dao-tao-chuyen-giao-cong-nghe">Đào tạo - Chuyển giao công nghệ</a></h3>
                <p class="text-center">
                    Đào tạo lập trình điều khiển tự động, lập trình phần cứng <br/>
                    Chuyển giao công nghệ
                </p>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-1">
                <div class="wrap-img-topics">
                    <a ng-href="#/dich-vu-ky-thuat"><img src="../../../assets/images/frontend/common/icon_big02.png"></a>
                    <span class="link-border"></span>
                </div>
                <h3 class="f-avobold"><a ng-href="#/dich-vu-ky-thuat">Dịch vụ kỹ thuật</a></h3>
                <p class="text-center">
                    Dịch vụ hàn mạch điện tử <br/>
                    Dịch vụ lắp ráp tụ điện công nghiệp <br/>
                    Dịch vụ sửa chữa, bảo dưỡng các thiết bị công nghiệp <br/>
                    Dịch vụ thiết, bảo trì Website
                </p>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>