/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "scss/variables";
@import "scss/mixins";

@font-face {
  font-family: 'avo';
  src: url('../assets/fonts/UTM Avo.ttf');
}

@font-face {
  font-family: 'avo-bold';
  src: url('../assets/fonts/UTM AvoBold.ttf');
}

@font-face {
  font-family: 'bebas';
  src: url('../assets/fonts/UTM Bebas.ttf');
}

.f-avo {
  font-family: avo, sans-serif;
}

.f-avobold {
  font-family: "avo-bold", sans-serif;
}

.f-bebas {
  font-family: "bebas", sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.banner {
  height: 455px;
  background: url($banner) no-repeat center top;
  box-shadow: 1px 1px 13px #ccc;
}

.text-red {
  color: #ff0000;
}

.title-cm a {
  font-size: 20px;
  &:hover {
    color: #ffa200;
  }
}

.title-cm {
  font-family: avo-bold, sans-serif;
  font-size: 20px;
  color: #5b5b5b;
  background-color: #f2f2f2;
  border-left: 5px solid #19a1b5;
  padding: 8px 15px 13px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-item {
  @include pt-pb(15px);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 255px;
  overflow: hidden;
  &:nth-child(3n) {
    border-right: 1px solid #ccc;
  }
  .price-product {
    span {
      text-decoration: line-through;
      font-size: 11px;
      color: #373737;
      margin-right: 5px;
    }
    p {
      font-size: 27px;
      color: #ffa200;
      display: inline-block;
    }
  }
  & > p {
    font-weight: bold;
  }
  .btn-buy {
    float: right;
    margin: 7px 0 0 0;
    padding: 3px 10px 8px 10px;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 0 10px #828282 inset;
  }
}

.wrap-product {
  position: relative;
  .safe {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    padding: 27px 0 15px 0;
    color: #fff;
    background: url($path-icon-common + "background_safe.png") no-repeat center bottom;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 20;
    &:hover {
      opacity: 1 !important;
    }
  }
  a {
    width: 100%;
    height: 165px;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}

.carousel-indicators {
  display: none;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
