<ul>
    <li class="product-item col-lg-4" ng-repeat="p in $ctrl.products">
        <div class="wrap-product">
            <span ng-if="p.discount_rate > 0" class="safe">-{{p.discount_rate * 100 + '%'}}</span>
            <a ui-sref="product-detail({product_url: p.product_url})"><img ng-src="{{p.product_image}}"></a>
        </div>
        <p><a ui-sref="product-detail({product_url: p.product_url})">{{p.product_title}}</a></p>
        <div class="price-product">
            <span ng-if="p.discount_rate > 0">{{p.product_price | number}}</span>
            <p class="f-bebas">{{p.product_price_discount | number}}</p>
            <a class="btn-blue btn-buy">Mua hàng</a>
        </div>
    </li>
    <li ng-if="$ctrl.products.length == 0" class="product-item col-lg-12" style="border-right: 1px solid #ccc;">
        <span style="font-style: italic;">Xin lỗi qúy khách, hiện tại chúng tôi không có sản phẩm nào thuộc loại này.</span>
    </li>
</ul>