<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>
            <div class="col-lg-9 cart">
                <h2 class="title-cm">Giỏ hàng của bạn</h2>
                <table class="table mt20">
                    <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Ảnh sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{product.product_code}}</td>
                        <td><div class="wrap-img-cart"><img ng-src="{{product.product_image}}"></div></td>
                        <td>{{product.product_title}}</td>
                        <td>
                            <select data-ng-model="quantity" ng-options="option for option in quantityOptions" class="form-control"></select>
                        </td>
                        <td>{{product.actual_price | price}}</td>
                        <td>{{product.actual_price * product.quantity | price}}</td>
                        <td><button class="btn-delete"></button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>

                <ul uib-pagination data-ng-show="totalItems > itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                    boundary-links="true" max-size="maxSize" items-per-page="itemsPerPage"
                    first-text="<<" previous-text="<" next-text=">" last-text=">>" class="pagination">
                </ul>
                <div class="clearfix"></div>

                <p class="all-money">Trị giá đơn hàng : {{totalAmount | price}}</p>
                <ul class="btn-list">
                    <li><button class="btn-delete-cart">Xóa giỏ hàng</button></li>
                    <li><button class="btn-yellow">Cập nhật số lượng</button></li>
                    <li><button class="btn-blue">Đặt mua & Thanh toán</button></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <com-hot-products></com-hot-products>
    <div class="clearfix"></div>

    <com-news-slide></com-news-slide>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>

    <com-popup-chat></com-popup-chat>

    <com-top-link></com-top-link>
</div>