.cart {
  tr td {
    padding-top: 20px !important;
  }
  tr td, .table tr th {
    text-align: left !important;
  }
  input[type=text] {
    width: 60px;
  }
}

.pagination{
  margin: 0 !important;
}
.btn-list {
  text-align: right;
  li{
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
  }
}