<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9">
                <h2 class="title-cm"><a ng-href="#/tai-khoan-cua-toi">Tài khoản của tôi</a>&nbsp;&nbsp;>&nbsp;&nbsp;Thông tin tài khoản</h2>
                <div class="account-info mt20">
                    <form class="form-horizontal mt20">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="last_name">Họ đệm :</label>
                            <div class="col-sm-9">
                                <input type="text" id="last_name" class="form-control" placeholder="Họ" ng-model="account.last_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="first_name">Tên (<span class="text-red">*</span>):</label>
                            <div class="col-sm-9">
                                <input type="text" id="first_name" class="form-control" placeholder="Tên" ng-model="account.first_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="birth_date">Ngày sinh :</label>
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" id="birth_date" placeholder="dd/mm/yyyy (vd: 30/10/1980)" ng-model="account.birth_date"
                                           uib-datepicker-popup="{{datePicker.dateFormat}}" datepicker-options="datePicker.datePickerOptions"
                                           is-open="datePicker.opened" show-button-bar="false" alt-input-formats="datePicker.altInputFormats">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="sex">Giới tính :</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sex" ng-model="account.sex"
                                        ng-options="sexOption.id as sexOption.name for sexOption in sexOptions">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="company">Công ty :</label>
                            <div class="col-sm-9">
                                <input type="text" id="company" class="form-control" placeholder="Công ty" ng-model="account.company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="tel">Điện thoại (<span class="text-red">*</span>):</label>
                            <div class="col-sm-9">
                                <input type="tel" id="tel" class="form-control" placeholder="Điện thoại" ng-model="account.tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="city_province">Tỉnh/Thành phố (<span class="text-red">*</span>):</label>
                            <div class="col-sm-9">
                                <select class="form-control input-sm" id="city_province"
                                        ng-model="account.city_province_id"
                                        ng-options="city_province.id as city_province.name for city_province in cities_provinces">
                                </select>
                            </div>
                        </div>

                        <div class="btn-list col-sm-9 col-lg-offset-3 mt10">
                            <button class="btn-yellow">Cập nhật</button>
                            <button class="btn-delete-cart" ng-click="cancel()">Quay lại</button>
                        </div>
                        <div class="clearfix"></div>
                        <strong class="mt20" style="display: block;color: #19a1b5;">Thay đổi mật khẩu</strong>
                        <div class="form-group mt10">
                            <label class="control-label col-sm-3">Mật khẩu cũ (<span class="text-red">*</span>):</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Nhập mật khẩu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Mật khẩu mới (<span class="text-red">*</span>):</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Mật khẩu mới">
                            </div>
                        </div>
                        <div class="btn-list col-sm-9 col-lg-offset-3 mt10">
                            <button class="btn-blue">Đổi mật khẩu</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>
</div>