<div ng-init="init()">
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9">
                <div class="title-cm filter">
                    <h2 class="pull-left">Sản phẩm</h2>
                    <div class="pull-right">
                        <span class="pull-left mt5">Sắp xếp theo :  &nbsp;</span>
                        <select class="form-control pull-left" data-ng-model="sortBy" data-ng-change="sort()">
                            <option value="newest">S/p mới nhất</option>
                            <option value="hottest">S/p bán chạy nhất</option>
                            <option value="price_asc">Giá từ Thấp - Cao</option>
                            <option value="price_desc">Giá từ Cao - Thấp</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <com-products products="products"></com-products>
                <div class="clearfix"></div>

                <ul uib-pagination data-ng-show="totalItems > itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                    boundary-links="true" max-size="maxSize" items-per-page="itemsPerPage"
                    first-text="<<" previous-text="<" next-text=">" last-text=">>" class="pagination-sm mt30">
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <com-hot-products></com-hot-products>
    <div class="clearfix"></div>

    <com-news-slide></com-news-slide>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>

    <com-popup-chat></com-popup-chat>

    <com-top-link></com-top-link>
</div>