<section class="news">
    <h2 class="news-title f-avobold">Tin tức<span></span></h2>
    <div class="container mt50">
        <div>
            <div id="news_slider" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_01.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_02.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng </p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_03.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_04.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_01.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_01.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>

                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng </p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_01.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                        <div class="col-lg-6 news-item">
                            <div class="wrap-img-news">
                                <img src="../../../assets/images/frontend/img_01.png">
                            </div>
                            <div class="news-content">
                                <a href="#">SUPERNANO - Siêu khuyến mãi nhân dịp khai trương Website</a>
                                <p>Nhân dịp khai trương website bán hàng trực tuyến http://sna no.vn/ Công ty Cổ Phần Công Nghệ Nano Ứng Dụng xin giới thiệu đến Quý khách hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="text-align: right; margin: 15px 30px;">
                    <!--/carousel-inner-->
                    <a class="left carousel-control" href="#news_slider" data-slide="prev"></a>
                    <a class="right carousel-control" href="#news_slider" data-slide="next"></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>