@import "../../../bower_components/compass-sass-mixins/lib/compass/css3";

.carousel-indicators {
  display: none !important;
}

#news_slider {
  a.carousel-control {
    margin: {
      top: 15px;
      bottom: 15px;
    }
    &.left {
      margin-left: 92%;
    }
  }
  span.glyphicon {
    display: none !important;
  }
}

span.error-msg {
  display: inline-block;
  color: red;
  margin-top: 5px;
}

// pagination
ul.pagination > li.active > a {
  background-color: #19a1b5 !important;
  @include box-shadow(0 0 5px #08434c inset !important);
  color: #fff !important;
}