@import "../sass/variables";
@import "../sass/mixins";
@import "../../../bower_components/compass-sass-mixins/lib/compass/css3";

.banner {
  height: 260px;
  background: url($banner) no-repeat center top;
  box-shadow: 1px 1px 13px #ccc;
}

.text-red {
  color: #ff0000;
}

.title-cm a {
  font-size: 20px;
  &:hover {
    color: #ffa200;
  }
}

.title-cm {
  font-family: avo-bold, sans-serif;
  font-size: 20px;
  color: #5b5b5b;
  background-color: #f2f2f2;
  border-left: 5px solid #19a1b5;
  padding: 8px 15px 13px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-item {
  @include pt-pb(15px);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 255px;
  overflow: hidden;
  &:nth-child(3n) {
    border-right: 1px solid #ccc;
  }
  .price-product {
    span {
      text-decoration: line-through;
      font-size: 11px;
      color: #373737;
      margin-right: 5px;
    }
    p {
      font-size: 27px;
      color: #ffa200;
      display: inline-block;
    }
  }
  & > p {
    font-weight: bold;
    margin-top: 8px !important;
  }

  .btn-buy {
    float: right;
    margin: 7px 0 0 0;
    padding: 3px 10px 8px 10px;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 0 10px #828282 inset;
  }
}

.filter {
  padding: 6px 15px 0 15px;
  h2 {
    font-size: 20px;
    margin:3px 0 12px 0;
  }
  select {
    width: 165px;
    font-family: Arial;
    height: 30px;
  }
}

.wrap-product {
  position: relative;
  .safe {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    padding: 27px 0 15px 0;
    color: #fff;
    background: url($path-icon-common + "background_safe.png") no-repeat center bottom;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 20;
    &:hover {
      //opacity: 1 !important;
      @include opacity(1);
    }
  }
  a {
    width: 100%;
    height: 165px;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}

.btn-yellow,
.btn-delete-cart {
  font-family: avo, sans-serif;
  &:hover {
    @include transition(all ease 0.3s);
  }
}

.btn-yellow {
  @include background-color(#fec500);
  @include box-shadow(0px 0px 15px #d1a200 inset);
  padding: 5px 10px 8px 10px;
  &:hover {
    @include background-color(#fad860);
  }
}

.btn-delete-cart {
  background: url($path-icon + "icon-delete_02.png") no-repeat 10px center #dbdbdb;
  @include box-shadow(0px 0px 15px #adadad inset);
  padding: 5px 10px 8px 40px;
  &:hover {
    @include background-color(#f0f0f0);
  }
}

.order-title {
  text-align: center;
  padding: 10px 0;
  background-color: #d1ecf0;
  margin: 20px 0;
  font: {
    size: 16px;
    weight: bold;
  }
}

.wrap-img-detail {
  border: 2px solid #ccc !important;
  height: 210px;
  img {
    max: {
      width: 100%;
      height: 100%;
    }
    margin: 0 auto;
    display: block;
  }
}

.small-product {
  text-align: center;
  li {
    width: 28%;
    display: inline-block;
    border: 2px solid #ccc;
    height: 60px;
    margin: 0 2px;
    img {
      max: {
        width: 100%;
        height: 100%;
      }
      margin: 0 auto;
      display: block;
    }
  }
}