// path of fonts & images
$path-font: '../../../assets/fonts/';
$path-icon: '../../../assets/images/frontend/';
$path-icon-common: '../../../assets/images/frontend/common/';

// menu icons
$menu-icons: $path-icon-common + "icon_h02.png",
             $path-icon-common + "icon_h03.png",
             $path-icon-common + "icon_h04.png",
             $path-icon-common + "icon_h06.png",
             $path-icon-common + "icon_h05.png",
             $path-icon-common + "icon_h05.png",
             $path-icon-common + "icon-logout.png";

// banner
$banner: $path-icon-common + "banner.jpg";

// search icon
$search-icon: $path-icon + "icon_search.png";

// sidebar icons
$side-bar-icons: (
        "support-online": $path-icon + "icon_03.png",
        "bar-product-list": $path-icon + "icon_01.png",
        "qaa": $path-icon + "icon_04.png"
);

// my account icon
$account-icon: $path-icon + "ac_icon01.png",
               $path-icon + "ac_icon02.png",
               $path-icon + "ac_icon03.png",
               $path-icon + "ac_icon04.png";