.faq-list {
  li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-top: 10px;
    a {
      span {
        margin-right: 7px;
      }
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 10px;
      display: block;
      background-size: 12px;
      padding-left: 22px;
    }
    p {
      border-top: 1px dotted #ccc;
      padding: {
        top: 10px;
        bottom: 10px;
        left: 44px;
      }
      display: none;
    }
  }
}