<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9 detail-product-page">
                <h2 class="title-cm">
                    <a ui-sref="product-list-all">Sản phẩm</a>&nbsp;>&nbsp;
                    <a ui-sref="product-list-category({category_url: product.product_category_url})">{{product.product_category_title}}</a>&nbsp;>&nbsp;{{product.product_title}}
                </h2>
                <div class="row">
                    <div class="col-lg-5 mt20">
                        <div class="wrap-img-detail">
                            <img ng-src="{{productImage}}">
                        </div>
                        <ul class="small-product mt20">
                            <li ng-repeat="productImage in product.product_images">
                                <a ng-click="changeProductImage(productImage)"><img ng-src="{{productImage.image}}"></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-7 detail-product mt20">
                        <h2>{{product.product_title}}</h2>
                        <p>
                            <strong>Mã sản phẩm : </strong>{{product.product_code}} &nbsp;&nbsp;|&nbsp;&nbsp;
                            <strong>Nhà sản xuất : </strong>{{product.product_brand_title}}
                        </p>

                        <div class="price-product">
                            <strong>Giá sản phẩm</strong>
                            <p ng-if="product.product_price > product.product_price_discount">
                                Giá bán : <span class="f-bebas text-orange">{{product.product_price_discount | price}}</span> &nbsp;&nbsp;
                                Giá gốc : <span class="f-bebas safe-price">{{product.product_price | price}}</span> &nbsp;&nbsp;
                                <span class="text-orange" style="font-size: 12px;">Tiết kiệm : {{(product.product_price - product.product_price_discount) | price}}</span>
                            </p>
                            <p ng-if="product.product_price == product.product_price_discount">
                                Giá bán : <span class="f-bebas text-orange">{{product.product_price_discount | price}} VND</span>
                            </p>
                            <p class="guarantee">{{product.warranty_period}}</p>
                            <div class="pull-left">
                                <strong>Đánh giá : </strong>
                                <img src="../../assets/images/frontend/star.jpg">
                            </div>
                            <div class="pull-right" style="">
                                <a href="#"><img src="../../assets/images/frontend/like-face.jpg"></a>
                                <a href="#"><img src="../../assets/images/frontend/share-face.jpg"></a>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <a href="#" class="wishlist-add"><span class="glyphicon glyphicon-heart-empty"></span> Thêm vào danh sách ưa thích</a>
                            <span class="note">* Giá trên chưa bao gồm VAT</span>
                            <button class="btn-buy-product" style="margin-top: -50px;">Mua hàng</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="detail-product-content">
                    <strong>Thông tin sản phẩm</strong>
                    <p class="mt20" ng-bind-html="product.product_description"></p>
                </div>

                <section class="product-hot mt30 col-lg-12">
                    <h2 class="title-cm">Sản phầm cùng loại</h2>

                    <div id="product_slider" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 product-item">
                                    <div class="wrap-product">
                                        <span class="safe">20%</span>
                                        <a href="#"><img src="../../assets/images/frontend/img_05.jpg"></a>
                                    </div>
                                    <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                                    <div class="price-product">
                                        <span>200.000</span>
                                        <p class="f-bebas">100.000</p>
                                        <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#product_slider" data-slide="prev"></a>
                        <a class="right carousel-control" href="#product_slider" data-slide="next"></a>
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>

    <com-popup-chat></com-popup-chat>

    <com-top-link></com-top-link>
</div>