<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9 project-list">
                <h2 class="title-cm">Danh mục dự án</h2>
                <ul>
                    <li ng-repeat="p in projects">
                        <div class="wrap-img-project col-lg-3 pl0 pr0">
                            <img ng-src="{{p.project_image}}">
                        </div>
                        <div class="col-lg-9 project-item-content">
                            <a ng-href="#/chi-tiet-du-an/{{p.slug}}">{{p.project_name}}</a>
                            <span>{{p.start_date}}</span>
                            <p>{{p.project_description}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                    boundary-links="true" max-size="maxSize" items-per-page="itemsPerPage"
                    first-text="<<" previous-text="<" next-text=">" last-text=">>" class="pagination-sm mt30">
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>

    <com-popup-chat></com-popup-chat>
</div>