<section class="e-mail mt40">
    <div class="container">
        <h3 class="f-avobold">Đăng ký nhận Email</h3>
        <ul>
            <li class="col-lg-5">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Họ và tên :</label>
                    <div class="col-sm-9 pl0">
                        <input class="form-control" type="text">
                    </div>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="form-group">
                    <label class="col-sm-3 control-label">E-mail :</label>
                    <div class="col-sm-9 pl0">
                        <input class="form-control" type="text">
                    </div>
                </div>
            </li>
            <li>
                <button class="btn-register">Đăng ký</button>
            </li>
        </ul>
    </div>
</section>