<section class="product-hot mt30">
    <div class="container">
        <h2 class="title-cm">Sản phầm bán chạy</h2>
        <div class="col-lg-12">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="item">
                    <div ng-repeat="product in slide.products" class="col-lg-3 col-xs-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">{{product.discount_rate}}</span>
                            <a href="#"><img ng-src="{{product.product_image}}"></a>
                        </div>
                        <p>{{product.product_name}}</p>
                        <div class="price-product">
                            <span>{{product.product_old_price}}</span>
                            <p class="f-bebas">{{product.product_new_price}}</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>