<section class="product-hot mt30">
    <div class="container">
        <h2 class="title-cm">Sản phầm bán chạy</h2>

        <div id="product_slider" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 product-item">
                        <div class="wrap-product">
                            <span class="safe">20%</span>
                            <a href="#"><img src="../../../assets/images/frontend/img_05.jpg"></a>
                        </div>
                        <p>Bộ chuyển đổi USB 2.0 to RS232</p>
                        <div class="price-product">
                            <span>200.000</span>
                            <p class="f-bebas">100.000</p>
                            <a href="#" class="btn-blue btn-buy">Mua hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/carousel-inner-->
            <a class="left carousel-control" href="#product_slider" data-slide="prev"></a>
            <a class="right carousel-control" href="#product_slider" data-slide="next"></a>
        </div>
    </div>
</section>