body, p, a, input, textarea, span, select {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  max-height: 999999px;
}

p {
  margin: 0 0 0 0 !important;
}

.justify {
  text-align: justify;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

a img:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}

ul, li {
  margin: 0 auto;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none !important;
}

.textblue {
  color: #006699 !important;
}

.letter_space {
  letter-spacing: 1px;
}

.container-fluid {
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 91.66666667%;
}

.col-md-10 {
  width: 83.33333333%;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.66666667%;
}

.col-md-7 {
  width: 58.33333333%;
}

.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 41.66666667%;
}

.col-md-4 {
  width: 33.33333333%;
}

.col-md-3 {
  width: 25%;
}

.col-md-2 {
  width: 16.66666667%;
}

.col-md-1 {
  width: 8.33333333%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: left;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row-2 {
  margin-right: -10px;
  margin-left: -10px;
}

.row-3 {
  margin-right: -5px;
  margin-left: -5px;
}

.row-4 {
  margin-right: -25px;
  margin-left: -25px;
}

.row40 {
  margin-right: -40px;
  margin-left: -40px;
}

.row20 {
  margin-right: -20px;
  margin-left: -20px;
}

.row .col-md-1,
.row .col-md-10,
.row .col-md-11,
.row .col-md-12,
.row .col-md-2,
.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-7,
.row .col-md-8,
.row .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row-2 .col-md-1,
.row-2 .col-md-10,
.row-2 .col-md-11,
.row-2 .col-md-12,
.row-2 .col-md-2,
.row-2 .col-md-3,
.row-2 .col-md-4,
.row-2 .col-md-5,
.row-2 .col-md-6,
.row-2 .col-md-7,
.row-2 .col-md-8,
.row-2 .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.row-3 .col-md-1,
.row-3 .col-md-10,
.row-3 .col-md-11,
.row-3 .col-md-12,
.row-3 .col-md-2,
.row-3 .col-md-3,
.row-3 .col-md-4,
.row-3 .col-md-5,
.row-3 .col-md-6,
.row-3 .col-md-7,
.row-3 .col-md-8,
.row-3 .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.row-4 .col-md-1,
.row-4 .col-md-10,
.row-4 .col-md-11,
.row-4 .col-md-12,
.row-4 .col-md-2,
.row-4 .col-md-3,
.row-4 .col-md-4,
.row-4 .col-md-5,
.row-4 .col-md-6,
.row-4 .col-md-7,
.row-4 .col-md-8,
.row-4 .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.row40 .col-md-1,
.row40 .col-md-10,
.row40 .col-md-11,
.row40 .col-md-12,
.row40 .col-md-2,
.row40 .col-md-3,
.row40 .col-md-4,
.row40 .col-md-5,
.row40 .col-md-6,
.row40 .col-md-7,
.row40 .col-md-8,
.row40 .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 40px;
  padding-left: 40px;
}

.row20 .col-md-1,
.row20 .col-md-10,
.row20 .col-md-11,
.row20 .col-md-12,
.row20 .col-md-2,
.row20 .col-md-3,
.row20 .col-md-4,
.row20 .col-md-5,
.row20 .col-md-6,
.row20 .col-md-7,
.row20 .col-md-8,
.row20 .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px;
}

.mt65 {
  margin-top: 65px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt85 {
  margin-top: 85px;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px;
}

.mt135 {
  margin-top: 135px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mt45 {
  margin-top: 45px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb85 {
  margin-bottom: 85px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.ml20 {
  margin-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl20 {
  padding-left: 20px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt50 {
  padding-top: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pt55 {
  padding-top: 55px;
}

.pt60 {
  padding-top: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt20 {
  padding-top: 20px;
}

.pt45 {
  padding-top: 45px;
}

.pt95 {
  padding-top: 95px;
}

.pt210 {
  padding-top: 210px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb15 {
  padding-bottom: 15px;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb75 {
  padding-bottom: 75px;
}

.pt30 {
  padding-top: 30px;
}

.pt65 {
  padding-top: 65px;
}

.pb50 {
  padding-bottom: 50px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}





















