$path-icon: '../../../assets/images/frontend/';
$path-icon-common: '../../../assets/images/frontend/common/';

$menu-icons: "icon_h02.png", "icon_h03.png", "icon_h04.png", "icon_h06.png", "icon_h05.png";