h2 {
  font-size: 20px;
  font-weight: bold;
}

.new-date {
  font-size: 13px;
  font-weight: bold;
  color: #909090;
  display: block;
  margin-bottom: 15px;
}

#project_img_slider {
  padding: 15px 0;
  border: 1px solid #ccc;
}

.title-cm,
.title-cm a {
  font-size: 17px;
}

.project-detail {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}