<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9">
                <h2 class="title-cm"><a ng-href="#/">Trang chủ</a> > <a ng-href="#/du-an">Dự án</a> > {{project.project_name}}</h2>
                <div class="row">
                    <div class="col-lg-5 mt20">
                        <div class="wrap-img-detail"><img ng-src="{{bigImage}}"></div>
                        <ul class="small-project mt20">
                            <li ng-repeat="mainItem in mainItems">
                                <a ng-click="changeMainImage(mainItem.image)"><img ng-src="{{mainItem.image}}"></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-7 mt20">
                        <h2 style="margin-top: 0;">Dự án : {{project.project_name}}</h2>
                        <p>{{project.project_description}}</p>
                        <p class="mt10" style="border-top:1px solid #ccc;padding-top: 10px;">
                            <strong>Ngày bắt đầu</strong> : {{project.start_date}} &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <strong>Ngày kết thúc</strong> : {{project.end_date}}
                        </p>
                        <p class="mt10"><strong>Thời gian thực hiện dự án</strong> : {{project.project_duration}}</p>
                        <p class="mt10"><strong>Trạng thái dự án</strong> : {{project.project_status}}</p>
                        <p class="mt10"><strong>Chủ dự án</strong> : {{project.project_owner}}</p>
                        <p class="mt10"><strong>Vai trò thực hiện</strong> : {{project.project_role}}</p>
                        <p class="mt10"><strong>Đánh giá dự án</strong> : {{project.project_evaluation}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="project-detail col-lg-12">
                    <strong>Mô tả chi tiết dự án</strong>
                    <p class="mt15" ng-bind-html="project.project_content"></p>
                </div>
                <div class="clearfix"></div>

                <h4 class="mt30">Thư viện hình ảnh dự án (xem thêm)</h4>
                <div id="project_img_slider" class="mt20" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="item">
                        <div ng-repeat="item in slide.items" class="col-lg-4">
                            <img ng-src="{{item.image}}">
                            <p class="mt5">{{item.note}}</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>
</div>