<div>
    <com-header></com-header>
    <div class="clearfix"></div>

    <section class="banner"></section>
    <div class="clearfix"></div>

    <com-topics></com-topics>
    <div class="clearfix"></div>

    <com-search></com-search>
    <div class="clearfix"></div>

    <section class="main-content container mt20">
        <div class="row">
            <com-sidebar></com-sidebar>

            <div class="col-lg-9">
                <h2 class="title-cm"><a ng-href="#/">Trang chủ</a> > <a href="#">Dự án</a> > Máy ngắm bắn tự động</h2>
                <div class="row">
                    <div class="col-lg-5 mt20">
                        <div class="wrap-img-detail">
                            <img src="../../assets/images/frontend/product_img01.jpg">
                        </div>
                        <ul class="small-project mt20">
                            <li><img src="../../assets/images/frontend/product_img01.jpg"></li>
                            <li><img src="../../assets/images/frontend/product_img02.jpg"></li>
                            <li><img src="../../assets/images/frontend/product_img02.jpg"></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-7 mt20">
                        <h2 style="margin-top: 0;">Dự án : Máy ngắm bắn tự động</h2>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                        </p>
                        <p class="mt10" style="border-top:1px solid #ccc;padding-top: 10px;">
                            <strong>Ngày bắt đầu</strong> : 20/10/2016 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <strong>Ngày kết thúc</strong> : 30/10/2016
                        </p>
                        <p class="mt10"><strong>Thời gian dự án</strong> : 6 tháng</p>
                        <p class="mt10">
                            <strong>Tình trạng dự án</strong> : Đã kết thúc
                        </p>
                        <p class="mt10">
                            <strong>Chủ dự án</strong> : Viện vũ khí
                        </p>
                        <p class="mt10">
                            <strong>Vai trò thực hiện</strong> : Trưởng nhóm kỹ thuật
                        </p>
                        <p class="mt10">
                            <strong>Đánh giá dự án</strong> : Hoàn thành xuất sắc
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="project-detail col-lg-12">
                    <strong>Mô tả chi tiết dự án</strong>
                    <p class="mt15">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                        <br><br>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.'
                        <br>
                        est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction.
                        <br><br>
                        Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
                        Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum.
                        <br><br>Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.
                    </p>
                </div>
                <div class="clearfix"></div>

                <h4 class="mt30">Thư viện hình ảnh của dự án</h4>

                <div id="project_img_slider" class="mt20" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="item">
                        <div ng-repeat="project in slide.items" class="col-lg-4">
                            <img ng-src="{{project.image}}">
                            <p class="mt5">{{project.note}}</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>

    <com-email-registration></com-email-registration>
    <div class="clearfix"></div>

    <com-footer></com-footer>
</div>