<header>
    <div class="top-content">
        <div class="container">
            <div class="pull-left">
                <a href="#"><img src="../../../assets/images/frontend/common/icon_h01.png"></a>
            </div>
            <div class="pull-right">
                <ul>
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Lịch sử đơn hàng</a></li>
                    <li><a href="#">Danh sách ưa thích</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="javascript:void(0)" ng-click="open()">Đăng ký</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="background-color: #fff;" class="menu_m">
        <div class="head-nav container">
            <a href="#"><img src="../../../assets/images/frontend/common/logo.png" alt="tudonghoacongnghiep.vn"></a>
            <div class="pull-right">
                <ul>
                    <li><a href="#">Trang chủ</a>|</li>
                    <li><a href="#">Giới thiệu</a>|</li>
                    <li><a href="#">Sản phẩm</a>|</li>
                    <li><a href="#">Khuyến mãi</a>|</li>
                    <li><a href="#">Nhà sản xuất</a>|</li>
                    <li><a href="#">Tin tức</a>|</li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
                <a href="#" class="head-btn-cart btn-blue">Giỏ hàng (<span class="text-red">01</span>)</a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="registerModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
            <h4 class="modal-title">Đăng ký</h4>
        </div>
        <div class="modal-body">
            <strong>Thông tin tài khoản</strong>
            <p>Nhập E-mail và mật khẩu</p>
            <form class="form-horizontal mt20">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email-register">Email (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="email" ng-model="$ctrl.email" class="form-control" id="email-register" placeholder="Nhập email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd-register">Mật khẩu (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="$ctrl.password" class="form-control" id="pwd-register" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd-register-2">Nhập lại mật khẩu (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="$ctrl.confirmPassword" class="form-control" id="pwd-register-2" placeholder="Xác nhận mật khẩu">
                    </div>
                </div>
                <strong>Thông tin cá nhân</strong>
                <p class="mb20">Nhập thông tin người nhận, địa chỉ mà bạn muốn chúng tôi chuyển hàng tới.</p>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="last-name">Họ đệm (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.lastName" class="form-control" id="last-name" placeholder="Họ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="first-name">Tên (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.firstName" class="form-control" id="first-name" placeholder="Tên">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="company">Công ty :</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.company" class="form-control" id="company" placeholder="Công ty">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="tel">Điện thoại (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="tel" ng-model="$ctrl.tel" class="form-control" id="tel" placeholder="Điện thoại">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="city_province">Tỉnh/Thành phố (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" ng-model="$ctrl.city_province" id="city_province">
                            <option ng-repeat="city_province in $ctrl.cities_provinces" value="{{city_province.id}}">{{city_province.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Mã xác nhận :</label>
                    <div class="col-sm-9">
                        <img ng-src="{{$ctrl.captchaData.src}}" alt="captcha">
                        <input type="hidden" name="_token" value="{{$ctrl.captchaData.csrf_token}}">
                        <a href="javascript:void(0)" ng-click="$ctrl.generateCaptcha()">
                            <img src="../../../assets/images/frontend/maxacnhan-2.jpg">
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="captcha">Ký tự hiển thị (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.captcha" id="captcha" class="form-control" placeholder="Ký tự hiển thị">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn-blue btn-buy" type="button" ng-click="$ctrl.register()">Đăng ký</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Hủy</button>
        </div>
    </script>
</header>