<header>
    <div class="top-content">
        <div class="container">
            <div class="pull-left">
                <a href="#"><img src="../../../assets/images/frontend/common/icon_h01.png"></a>
            </div>
            <div class="pull-right">
                <ul>
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Lịch sử đơn hàng</a></li>
                    <li><a href="#">Danh sách ưa thích</a></li>
                    <li><a href="javascript:void(0)" ng-click="openLoginModal()">Đăng nhập</a></li>
                    <li><a href="javascript:void(0)" ng-click="openSignupModal()">Đăng ký</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="background-color: #fff;" class="menu_m">
        <div class="head-nav container">
            <a href="#"><img src="../../../assets/images/frontend/common/logo.png" alt="tudonghoacongnghiep.vn"></a>
            <div class="pull-right">
                <ul>
                    <li><a href="#">Trang chủ</a>|</li>
                    <li><a href="#">Giới thiệu</a>|</li>
                    <li><a href="#">Sản phẩm</a>|</li>
                    <li><a href="#">Khuyến mãi</a>|</li>
                    <li><a href="#">Nhà sản xuất</a>|</li>
                    <li><a href="#">Tin tức</a>|</li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
                <a href="#" class="head-btn-cart btn-blue">Giỏ hàng (<span class="text-red">01</span>)</a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="loginModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Đăng nhập</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email (<span class="text-red">*</span>):</label>
                    <div class="col-sm-10">
                        <input type="email" ng-model="loginData.email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Mật khẩu (<span class="text-red">*</span>):</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="loginData.password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox">Nhớ mật khẩu</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn-blue btn-buy" ng-click="login()">Đăng nhập</button>
                        <a href="#" class="textblue" style="margin-left: 10px">Quên mật khẩu?</a>
                    </div>
                </div>
            </form>
            <div class="col-lg-offset-2 mt20">
                <strong>Bạn có thể đăng nhập qua</strong>
                <ul class="box-login" style="text-align: left">
                    <li>
                        <a href="#"><span></span> <p>Đăng nhập với Facebook</p></a>
                    </li>
                    <li>
                        <a href="#"><span></span> <p>Đăng nhập với Google+</p></a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="signupModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
            <h4 class="modal-title">Đăng ký</h4>
        </div>
        <div class="modal-body">
            <strong>Thông tin tài khoản</strong>
            <p>Nhập E-mail và mật khẩu</p>
            <form class="form-horizontal mt20">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email-register">Email (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="email" ng-model="$ctrl.customer.email" class="form-control" id="email-register" placeholder="Nhập email">
                        <span class="error-msg" ng-show="$ctrl.errors.email">{{$ctrl.errors.email}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd-register">Mật khẩu (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="$ctrl.customer.password" class="form-control" id="pwd-register" placeholder="Mật khẩu">
                        <span class="error-msg" ng-show="$ctrl.errors.password">{{$ctrl.errors.password}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd-register-2">Nhập lại mật khẩu (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="$ctrl.customer.password_confirmation" class="form-control" id="pwd-register-2" placeholder="Xác nhận mật khẩu">
                        <span class="error-msg" ng-show="$ctrl.errors.password_confirmation">{{$ctrl.errors.password_confirmation}}</span>
                    </div>
                </div>
                <strong>Thông tin cá nhân</strong>
                <p class="mb20">Nhập thông tin người nhận, địa chỉ mà bạn muốn chúng tôi chuyển hàng tới.</p>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="last-name">Họ đệm (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.customer.last_name" class="form-control" id="last-name" placeholder="Họ">
                        <span class="error-msg" ng-show="$ctrl.errors.last_name">{{$ctrl.errors.last_name}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="first-name">Tên (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.customer.first_name" class="form-control" id="first-name" placeholder="Tên">
                        <span class="error-msg" ng-show="$ctrl.errors.first_name">{{$ctrl.errors.first_name}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="company">Công ty :</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.customer.company" class="form-control" id="company" placeholder="Công ty">
                        <span class="error-msg" ng-show="$ctrl.errors.company">{{$ctrl.errors.company}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="tel">Điện thoại (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="tel" ng-model="$ctrl.customer.tel" class="form-control" id="tel" placeholder="Điện thoại">
                        <span class="error-msg" ng-show="$ctrl.errors.tel">{{$ctrl.errors.tel}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="address">Địa chỉ (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.customer.address" class="form-control" id="address" placeholder="Địa chỉ">
                        <span class="error-msg" ng-show="$ctrl.errors.address">{{$ctrl.errors.address}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="city_province_id">Tỉnh/Thành phố (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" ng-model="$ctrl.customer.city_province_id" id="city_province_id">
                            <option value="">---Chọn Tỉnh/Thành phố---</option>
                            <option ng-repeat="city_province in $ctrl.cities_provinces" value="{{city_province.id}}">{{city_province.name}}</option>
                        </select>
                        <span class="error-msg" ng-show="$ctrl.errors.city_province_id">{{$ctrl.errors.city_province_id}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Mã xác nhận :</label>
                    <div class="col-sm-9">
                        <img ng-src="{{$ctrl.captcha_src}}" alt="captcha">
                        <a href="javascript:void(0)" ng-click="$ctrl.generateCaptchaToken()">
                            <img src="../../../assets/images/frontend/maxacnhan-2.jpg">
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="captcha">Ký tự hiển thị (<span class="text-red">*</span>):</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="$ctrl.customer.captcha" id="captcha" class="form-control" placeholder="Nhập mã xác nhận">
                        <span class="error-msg" ng-show="$ctrl.errors.captcha">{{$ctrl.errors.captcha}}</span>
                    </div>
                </div>
                <input type="hidden" name="_token" value="{{$ctrl.csrf_token}}" ng>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn-blue btn-buy" type="button" ng-click="$ctrl.register()">Đăng ký</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Hủy</button>
        </div>
    </script>
</header>