@import "../../scss/variables";
@import "../../scss/mixins";

header {
  .top-content {
    background-color: #262626;
    padding: 5px 0;
    ul li {
      display: inline-block;
      padding-left: 25px;
      margin: 3px 15px 0 15px;

      &.signed-in-logout {
        background-image: url($path-icon-common + "icon-logout.png") !important;
        background-repeat: no-repeat;
        background-position: 5px 0;
      }

      &.signed-in-welcome {
        background-image: url($path-icon-common + "icon_h05.png") !important;
        background-repeat: no-repeat;
        background-position: left center;
      }

      a {
        color: #fff;
        font-size: 13px;
        &:hover {
          color: #07a0b4;
          transition: all ease 0.3s;
        }
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          @include background-img(nth($menu-icons, $i));
        }
      }
    }
  }
  .head-nav {
    background-color: #fff;
    @include pt-pb(15px);
    ul {
      display: inline-block;
      li {
        display: inline-block;
        font-weight: bold;
        margin: 25px 0;
        a {
          font-family: "avo-bold", sans-serif;
          padding: 0 10px;
        }
      }
    }

  }
}

.btn-blue {
  background-color: #07a0b4;
  color: #fff;
  font-family: avo, sans-serif;
  padding: 5px 10px 8px 10px;
  &:hover {
    background-color: #ffa200;
    transition: all ease 0.3s;
    color: #fff;
  }
}

.head-btn-cart {
  @include background-img($path-icon-common + "icon_h07.png", 10px, 9px);
  padding-left: 35px;
}

// Dăng nhập
.modal-title {
  font-size: 17px;
  font-family: avo-bold, sans-serif;
  color: #0099b0;
}

.box-login {
  li {
    width: 250px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    height: 30px;
    overflow: hidden;
    &:nth-child(1) {
      background-color: #055192;
      span {
        background: url($path-icon-common + "icon14.png") no-repeat center center;
        background-size: 10px;
      }
    }
    &:nth-child(2) {
      background-color: #d6280c;
      span {
        background: url($path-icon-common + "icon15.png") no-repeat center center;
        background-size: 15px;
      }
    }
    span {
      width: 32px;
      height: 30px;
      display: block;
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    a {
      color: #fff;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      font-weight: bold;
    }
    p {
      color: #fff;
    }
  }
}

.close {
  background: #606061 !important;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  opacity: 1;
  &:hover {
    background: #1482bc !important;
    color: #FFFFFF;
  }
}
